/* Overlay for dimming background */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal container */
.popup-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    font-family: Arial, sans-serif;
}

/* Modal title */
.popup-title {
    margin-bottom: 20px;
    color: #0073b1;
    font-size: 22px;
    text-align: center;
}

/* Label for inputs */
.popup-label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

/* Dropdown and text area styling */
.popup-select,
.popup-textarea {
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
}

/* Text area specific */
.popup-textarea {
    height: 100px;
    resize: none;
}
.popup-textarea::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit browsers */
}
/* Button container */
.popup-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cancel button */
.popup-button-cancel {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #555;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.popup-button-cancel:hover {
    background-color: #e0e0e0;
}

/* Submit button */
.popup-button-submit {
    padding: 10px 20px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.popup-button-submit:hover {
    background-color: #005d91;
}


/* INsert button */
.popup-button-insert {
    padding: 10px 20px;
    background-color: #03b903;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.popup-button-insert:hover {
    background-color: #0c910c;
}